body {
  background-color: #f5f3f0;
  font-family: Georgia, 'Lora', serif;
}

h1, .navbar-brand {
  font-family: Georgia, 'Lora', serif;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}
